/* purgecss start ignore */
@import "tailwindcss/base";
@import "tailwindcss/components";
/* purgecss end ignore */

@import "tailwindcss/utilities";

html {
  margin-left: calc(100vw - 100%);
}

.rice {
  background-image: url("/ricepaper.png");
}

.fixed-ratio {
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
}

.fixed-ratio-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  max-width: inherit;
}

.lazy {
  display: block;
  opacity: 0;
}
.lazy:not(.initial) {
  transition: opacity 0.5s;
}
.lazy.initial,
.lazy.loaded,
.lazy.error {
  opacity: 1;
}
